body{
	margin:0;
	padding:0;
	overflow-x:hidden;
    font-family: Arial, Helvetica, sans-serif;
}

img{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:bottom;
}

map area{
    outline: none;
}

.hdr {
    background: #aa1133;
    position: fixed;
    top: 0;
    width: 100%;
	min-height: 57px;
    border-bottom: 1px solid #fdfdfd;
}

#cntarea {
    width: 1026px;
    margin: 0 auto;
    padding:95px 0 60px 0;
}

.logo-stroke {
    display: block;
    border-left: 1px solid #fff;
    height: 30px;
    float: left;
    margin: 14px 20px 8px;
}

.acn-logo {
    display: block;
    float: left;
    margin: 5px 0;
    padding-left: 15px;
}
.title-cntnt {
    background-color: #272525;
    color: white;
    padding: 5px 0 5px 5px;
    font-size: 13px;
}

.navmn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #770C24;
	color: white;
}
ul{
margin:0;
padding:0;
}
.navmn li{
	padding:11px 22px;
	margin:0;
	position: relative;
    float: left;
    vertical-align: top;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	list-style-type:none;
	font-size:14px;
}

.shrprct {
	border-left: 32px solid transparent;
    border-bottom: 39px solid #770C24;
    width: 0;
    height: 0;
    left: -32px;
    position: absolute;
}
.black-header .title-cntnt {
    position: fixed;
    top: 58px;
    z-index: -1001;
    background: #111010;
    padding: 5px 14px;
	width:100%;
}

.title-cntnt .title.mecTitle {
    float: left;
    padding-right: 5px;
}
.fnts12 {
    font-size: 12px;
}

.fl{
float:left;
}

 .mbpst {
        /*position: relative;*/
        z-index: 1;
    }
	
	.acn-logo {
        margin-bottom: 3px;
    }
	
	.logo-stroke {
    display: block;
    border-left: 1px solid #fff;
    height: 30px;
    float: left;
    margin: 14px 20px 8px;
}

.translogo img {
    margin-top: 11px;
}

.fr{
float:right;
}

.mr25{
margin-right:17px;
}

footer {
    background: #111010;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: normal;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 9px 0;
    width: 100%;

}

a {
    color: #0D94D2;
	text-decoration:none;
}

.navmn a{
color:#fff;
}

.navmn a.active{
color:#ffdc8c;
}
